// -----------------------------------------------------------------------------
// Mixins and functions
// -----------------------------------------------------------------------------

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($args...) {
    transition: $args $transition-speed $transition-ease;
}